digitalstage.liveroom.at {
    # ==========================
    # 1) WebSocket endpoint
    # ==========================
    @websocket {
        path /ws
    }
    handle @websocket {
        reverse_proxy websocket:3010
    }

    # ==========================
    # 2) Registry: /v2/*
    # ==========================
    @registry {
        path /v2/*
    }
    basic_auth @registry {
        admin $2a$14$gc9pg3PCKi0qWYmTpskN6u1RRhhQb.DQopit6.16i5Qhly4kEg2I6
    }
    handle @registry {
        reverse_proxy registry:5000
    }

    # ==========================
    # 3) Hls: /hls/*
    # ==========================

    handle_path /hls/* {
        root * /srv/hls
        header Cache-Control "no-cache"
        file_server
      }

    # ==========================
    # 4) Default → Next.js App
    # ==========================
    handle {
        reverse_proxy app:3000
    }
}

