services:
    app:
        image: digitalstage.liveroom.at/digitalstage-app:latest
        container_name: digitalstage_app
        restart: unless-stopped
        env_file: [ .env ]
        environment:
            - DATABASE_URL=postgresql://digitalstage:digitalStage123@db:5432/digitalstage
        expose: [ "3000" ]
        depends_on: [ db ]
        command: sh -c "npx prisma migrate deploy && npm start"

    websocket:
        image: digitalstage.liveroom.at/digitalstage-websocket:latest
        container_name: digitalstage_websocket
        restart: unless-stopped
        env_file: [ .env ]
        depends_on: [ db ]
        volumes:
            - ./certs:/app/certs:ro
            - /opt/digitalstage/sdp:/sdp
        ports:
            - "3010:3010"
            - "40000-40100:40000-40100"
        command: ["node", "ws-server.mjs"]

    db:
        image: postgres:16
        container_name: digitalstage_db
        restart: unless-stopped
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - db-data:/var/lib/postgresql/data

    registry:
        image: registry:2
        container_name: digitalstage_registry
        restart: unless-stopped
        expose: [ "5000" ]
        volumes:
            - registry-data:/var/lib/registry

    caddy:
        image: caddy:2
        container_name: digitalstage_caddy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - /opt/digitalstage/hls:/srv/hls:ro
            - caddy-data:/data
            - caddy-config:/config
        depends_on: [ app, registry ]

    ffmpeg:
        image: jrottenberg/ffmpeg:6.1-alpine
        container_name: digitalstage_ffmpeg
        restart: unless-stopped
        ports:
            - "5004-5104:5004-5104"
        volumes:
            - /opt/digitalstage/hls:/hls
            - /opt/digitalstage/sdp:/sdp
        command:
            - -protocol_whitelist
            - file,udp,rtp
            - -fflags
            - +genpts
            - -analyzeduration
            - "30000000"
            - -probesize
            - "30000000"
            - -timeout
            - "5000000"
            - -i
            - /sdp/input.sdp

            # Video 0
            - -map
            - 0:v:0
            - -vf:0
            - scale=1280:720
            - -c:v:0
            - libx264
            - -preset:v:0
            - veryfast
            - -g:v:0
            - "48"
            - -sc_threshold:v:0
            - "0"

            # Video 1
            - -map
            - 0:v:1
            - -vf:1
            - scale=1280:720
            - -c:v:1
            - libx264
            - -preset:v:1
            - veryfast
            - -g:v:1
            - "48"
            - -sc_threshold:v:1
            - "0"

            # Audio
            - -map
            - 0:a:0
            - -c:a
            - aac
            - -b:a
            - 128k

            # HLS
            - -f
            - hls
            - -hls_time
            - "2"
            - -hls_list_size
            - "6"
            - -hls_flags
            - delete_segments
            - /hls/testconf/out.m3u8


volumes:
    db-data:
    registry-data:
    caddy-data:
    caddy-config:
