services:
    app:
        image: digitalstage.liveroom.at/digitalstage-app:latest
        container_name: digitalstage_app
        restart: unless-stopped
        env_file: [ .env ]
        environment:
            - DATABASE_URL=postgresql://digitalstage:digitalStage123@db:5432/digitalstage
        expose: [ "3000" ]
        depends_on: [ db ]
        command: sh -c "npx prisma migrate deploy && npm start"

    websocket:
        image: digitalstage.liveroom.at/digitalstage-websocket:latest
        container_name: digitalstage_websocket
        restart: unless-stopped
        env_file: [ .env ]
        depends_on: [ db ]
        volumes:
            - ./certs:/app/certs:ro
            - /opt/digitalstage/sdp:/sdp
        ports:
            - "3010:3010"
            - "40000-40100:40000-40100"
        command: ["node", "ws-server.mjs"]

    db:
        image: postgres:16
        container_name: digitalstage_db
        restart: unless-stopped
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - db-data:/var/lib/postgresql/data

    registry:
        image: registry:2
        container_name: digitalstage_registry
        restart: unless-stopped
        expose: [ "5000" ]
        volumes:
            - registry-data:/var/lib/registry

    caddy:
        image: caddy:2
        container_name: digitalstage_caddy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - /opt/digitalstage/hls:/srv/hls:ro
            - caddy-data:/data
            - caddy-config:/config
        depends_on: [ app, registry ]

    ffmpeg:
      image: jrottenberg/ffmpeg:6.1-alpine
      container_name: digitalstage_ffmpeg
      restart: unless-stopped
      volumes:
        - /opt/digitalstage/hls:/hls
        - /opt/digitalstage/sdp:/sdp
      entrypoint: [ "/bin/sh", "-c" ]
      ports:
        - "5004-5104:5004-5104/udp"
      command:
        - |
          set -e
          until [ -s /sdp/input.sdp ]; do
            echo "waiting for sdp"
            sleep 1
          done
          
          exec ffmpeg -hide_banner -loglevel warning \
            -protocol_whitelist file,udp,rtp,lavfi \
            -analyzeduration 5M \
            -probesize 5M \
            -fflags nobuffer \
            -flags low_delay \
            -rw_timeout 0 \
            -i /sdp/input.sdp \
            -f lavfi -i color=c=black:s=1920x1080:r=30 \
            -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \
            -f lavfi -i color=c=black:s=1280x720:r=30 \
            -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \
            -f lavfi -i color=c=black:s=1280x720:r=30 \
            -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \
            -f lavfi -i color=c=black:s=1280x720:r=30 \
            -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=48000 \
            -filter_complex "\
              [0:v:0]scale=1920:1080:eval=frame[ov0]; \
              [1:v][ov0]overlay=shortest=0:eof_action=pass[v0]; \
              [0:a:0][2:a]amix=inputs=2:duration=longest:dropout_transition=0[a0]; \
              \
              [0:v:1]scale=1280:720:eval=frame[ov1]; \
              [3:v][ov1]overlay=shortest=0:eof_action=pass[v1]; \
              [0:a:1][4:a]amix=inputs=2:duration=longest:dropout_transition=0[a1]; \
              \
              [0:v:2]scale=1280:720:eval=frame[ov2]; \
              [5:v][ov2]overlay=shortest=0:eof_action=pass[v2]; \
              [0:a:2][6:a]amix=inputs=2:duration=longest:dropout_transition=0[a2]; \
              \
              [0:v:3]scale=1280:720:eval=frame[ov3]; \
              [7:v][ov3]overlay=shortest=0:eof_action=pass[v3]; \
              [0:a:3][8:a]amix=inputs=2:duration=longest:dropout_transition=0[a3] \
              "

            ##### SCREEN #####
            -map [v0] -map [a0] \
            -c:v libx264 -preset veryfast -tune zerolatency \
            -g 60 -keyint_min 60 -sc_threshold 0 \
            -c:a aac -b:a 128k -ar 48000 \
            -f hls -hls_time 2 -hls_list_size 3 -hls_flags delete_segments+independent_segments \
            -hls_segment_filename "/hls/screen_%05d.ts" /hls/screen.m3u8 \
            \
            -map "[v1]" -map "[a1]" \
            -c:v libx264 -preset veryfast -tune zerolatency -g 60 -keyint_min 60 -sc_threshold 0 \
            -c:a aac -b:a 128k -ar 48000 \
            -f hls -hls_time 2 -hls_list_size 3 -hls_flags delete_segments+independent_segments \
            -hls_segment_filename "/hls/presenter_%05d.ts" /hls/presenter.m3u8 \
            \
            -map "[v2]" -map "[a2]" \
            -c:v libx264 -preset veryfast -tune zerolatency -g 60 -keyint_min 60 -sc_threshold 0 \
            -c:a aac -b:a 128k -ar 48000 \
            -f hls -hls_time 2 -hls_list_size 3 -hls_flags delete_segments+independent_segments \
            -hls_segment_filename "/hls/questioner_%05d.ts" /hls/questioner.m3u8 \
            \
            -map "[v3]" -map "[a3]" \
            -c:v libx264 -preset veryfast -tune zerolatency -g 60 -keyint_min 60 -sc_threshold 0 \
            -c:a aac -b:a 128k -ar 48000 \
            -f hls -hls_time 2 -hls_list_size 3 -hls_flags delete_segments+independent_segments \
            -hls_segment_filename "/hls/organizer_%05d.ts" /hls/organizer.m3u8




volumes:
  db-data:
  registry-data:
  caddy-data:
  caddy-config:
