services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: digitalStageApp
        ports:
            - '3000:3000'
        depends_on:
            - db
        environment:
            DATABASE_URL: postgres://digitalstage:digitalStage123@db:5432/digitalstage
        restart: unless-stopped
        command: sh -c "npx prisma migrate deploy && npm start"

    db:
        image: postgres:16
        restart: always
        container_name: digitalStageDb
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: