services:
    app:
        image: digitalstage.liveroom.at/digitalstage-app:latest
        container_name: digitalstage_app
        restart: unless-stopped
        env_file:
            - .env
        environment:
            # DB-URL für Prisma / Next.js
            - DATABASE_URL=postgresql://digitalstage:digitalStage123@db:5432/digitalstage
        expose:
            - "3000"          # nur intern für Caddy sichtbar
        depends_on:
            - db
        command: sh -c "npx prisma migrate deploy && npm start"

    websocket:
        image: digitalstage.liveroom.at/digitalstage-websocket:latest
        container_name: digitalstage_websocket
        restart: unless-stopped
        env_file:
            - .env
        depends_on:
            - db
        volumes:
            - ./certs:/app/certs:ro
        ports:
            - "3010"
        command: ["node", "ws-server.mjs"]

    db:
        image: postgres:16
        container_name: digitalstage_db
        restart: unless-stopped
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - db-data:/var/lib/postgresql/data

    registry:
        image: registry:2
        container_name: digitalstage_registry
        restart: unless-stopped
        expose:
            - "5000"          # nur intern, Caddy geht drauf
        volumes:
            - registry-data:/var/lib/registry

    caddy:
        image: caddy:2
        container_name: digitalstage_caddy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - caddy-data:/data
            - caddy-config:/config
        depends_on:
            - app
            - registry

volumes:
    db-data:
    registry-data:
    caddy-data:
    caddy-config:
