services:
    app:
        image: registry.digitalstage.liveroom.at/digitalstage-app:latest
        container_name: digitalStageApp
        ports:
            - '3000:3000'
        depends_on:
            - db
        env_file:
            - .env
        environment:
          - DATABASE_URL=postgresql://digitalstage:digitalStage123@db:5432/digitalstage
        restart: unless-stopped
        command: sh -c "npx prisma migrate deploy && npm start"

    websocket:
        image: registry.digitalstage.liveroom.at/digitalstage-websocket:latest
        container_name: digitalStageSocket
        depends_on:
            - db
        ports:
            - '3010:3001'
        env_file:
            - .env
        restart: unless-stopped

    db:
        image: postgres:16
        restart: always
        container_name: digitalStageDb
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
