version: '3.8'

services:
    db:
        image: postgres:16
        restart: always
        container_name: digitalStageDb
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: digitalstage
            POSTGRES_PASSWORD: digitalStage123
            POSTGRES_DB: digitalstage
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: